!!! 5
html(lang="ja")
  head
    title 増井研
    link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.css")
    script(type="text/javascript", src="/javascripts/lib/jquery-1.6.js")
    script(type="text/javascript", src="/javascripts/lib/fusuma.js")
    script(type="text/javascript", src="/javascripts/lib/ganpuku.js")
    script(type="text/javascript", src="/javascripts/data.js")
    script(type="text/javascript", src="/javascripts/index.js")
  body
    #header
      #logo 
        h3 増井研究室
      #comment
        span ユーザインタフェースやWebサービスを中心に研究しています
    #slide
      ul
        li
